.header {
  position: absolute;
  width: 923px;
  height: 84px;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.image {
  position: absolute;
  max-width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
}

.quote {
  position: absolute;
  width: 423px;
  height: 83px;
  left: 132px;
  top: 295px;
}